.card-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
  .container { width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; Prevents the text from wrapping to the next line }
  /* width: 12ch; */
}
.card {
  width: 300px;
  height: 450px;
  background-color: var(--color-secondary);
  margin: 2rem;
  
}

.card__info {
  display: grid;
  grid-template-columns: auto 1fr;
}

.card__content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 280px;
  padding: 10px 20px 20px;
  display: grid;
  gap: 20px;
  font-family: 'plasdrip';

}

.card__info-description {
  text-align: right;
}

li {
  list-style: none;
}
