header .search-bar-container {
  width: 100%;
  /* margin-right: 2rem; */
}

header .search-bar {
  padding: 10px 20px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 24px;
}

header .search-bar__input {
  padding: 0 1rem;
  background-color: transparent;
  border: none;
  color: var(--color-primary);
}

header .search-bar__button {
  border: none;
  background-color: transparent;
}

header .search-bar__input:focus {
  outline: none;
}

header .search-bar__icon {
  width: 20px;
  /* filter: invert(); */
}
